.filter {
  margin-bottom: var(--margin-m);
}

.inputRow .input {
  margin-right: var(--margin-m);
  margin-top: 2px;
}

.inputRow button {
  font-weight: 500;
  background: transparent;
  font-size: var(--font-m);
  border: 2px solid var(--black);
  padding: var(--margin-s) var(--margin-m);
  height: 40px;
}

.inputRow svg, {
  margin-bottom: var(--margin-s);
}

@media (max-width: 910px) {
  .inputRow>div {
    margin-top: var(--margin-m);
    width: 100%;
  }
  .inputRow button, .inputRow .input {
    margin: 0;
    flex: 1;
  }
}
