.tag {
  background: var(--gray);
  color: var(--black);
  padding: var(--margin-s);
  margin: 0 var(--margin-s) var(--margin-s) 0;
  border-radius: 2px;
  font-size: var(--font-m);
}

.tag__delete {
  margin-left: var(--margin-s);
}
