.tag {
  border-bottom: var(--border);
  color: var(--black);
  padding: var(--margin-s);
  margin: 0 var(--margin-s) var(--margin-s) 0;
  font-size: var(--font-m);
}

.tag__delete {
  margin-left: var(--margin-s);
  background: transparent;
  padding: 0;
}

.tag__delete svg {
  transform: scale(0.8);
}

.tag__delete, .tag__delete svg {
    width: var(--font-m);
    height: var(--font-m);
}
