.tagRow:last-child {
  margin-bottom: -6px;
}

.tagRow > button {
  margin-bottom: var(--margin-s);
}

.tagRow .input {
  margin: 0 var(--margin-s) var(--margin-s) 0;
}

.tagRow input {
  margin-top: 1px;
}
