.menu__btn {
  border: 2px solid var(--black);
  position: fixed;
  top: var(--margin-m);
  right: var(--margin-m);

  padding: 6px;

  height: calc(var(--font-m) + 20px);
  width: calc(var(--font-m) + 20px);

  background: white;

  z-index: 2;
}

.menu__btn svg {
  height: 24px;
  width: 24px;
}

.menu__content {
  position: fixed;
  top: 0;
  left: 0;

  padding: var(--margin-m);

  width: 100%;

  background: white;
  border-bottom: 2px solid var(--black);

  z-index: 1;
}
