/* vars */
:root {
  --margin-m: 36px;
  --margin-s: 6px;
  --font-xl: 48px;
  --font-l: 30px;
  --font-m: 20px;
  --white: #ffffff;
  --gray: #ebebeb;
  --black: #2D2D34;
  --column-width: calc((910px - var(--margin-m) * 2) / 3);
}

/* reset */
body, html {
  padding: 0;
  margin: 0;
}

button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: trasnsparent;
}

button:focus {
  outline: 0;
}


/* defaults */
body {
  padding: var(--margin-m);
  font-family: "Roboto", sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.items-center {
  justify-content: center;
  align-items: center;
}
