.artist {
  align-items: center;
  border: var(--border);
  border-top: 0;
}

.artist:first-child {
  border-top: var(--border);
}

.artist__card {
  margin-right: var(--margin-m);
  padding: 0 var(--margin-m);
  height: 112px;
  border-right: var(--border);
}

.artist__card__name {
  font-weight: 700;
  font-size: var(--font-xl);
  margin: 0;
  color: var(--black);
  transition: 10s;
}

.artist__card__underline {
  width: 100%;
  height: 4px;
}

.artist__url {
  text-decoration: none;
}

.artist__tags {
  flex: 1;
}

.artist:hover .artist__actions {
  opacity: 1;
}

.artist__actions {
  border-left: var(--border);
  align-self: stretch;
  width: calc(var(--font-m) + 20px - var(--border-width));
  opacity: 0;
}

.artist__actions button {
  margin-bottom: var(--margin-s);
  background: transparent;
}

.artist__actions button:last-child {
  margin-bottom: 0;
}

@media (max-width: 910px) {
  .artist__card {
    margin-bottom: var(--margin-m);
    margin-right: 0;
    width: 100%;
  }
  .row.artist {
    margin-bottom: calc(var(--margin-m) * 2);
  }
}
